:root {
  --color-one: #462980;
  --color-two: #be9eff;
  --color-tree: #8c52ff;
  --color-four: #7041cc;
  --color-five: #fcfef7;
}

/* python manage.py runserver */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-style: none;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-two);
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.main-login {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(../img/template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 999999;
}

.login-container,
.register-container {
  width: 50%;
  height: 100vh;
  background-color: #be9eff65;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 900ms;
  /* transition: opacity 0.7s ease; */
}

.register-container {
  transform: translateX(100%);
  opacity: 1;
}

.login-content,
.register-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.login-tittle h1,
.register-tittle h1 {
  font-size: 3rem;
  text-align: center;
}

.login-form-container,
.register-form-container {
  width: 500px;
  height: auto;
}

#form-login,
#form-register {
  width: 100%;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input label {
  margin-bottom: 8px;
}

.label-input input {
  padding: 18px 13px;
  border: 1px solid black;
  margin-bottom: 25px;
}

.label-input input:focus {
  outline: none;
}

.button-login-class,
.button-register-class {
  width: 100%;
  display: flex;
  justify-content: center;
}

#button-login,
#button-register {
  padding: 17px 80px;
  background-color: black;
  color: white;
  margin: 5px 0 15px 0;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#button-login:hover,
#button-register:hover {
  /* background-color: rgba(0, 0, 0, 0.918); */
  transform: scale(1.035);
}

.login-register {
  display: flex;
  justify-content: space-between;
}

.login-register a {
  color: #462980;
  transition: ease-in-out 0.2s;
}

.login-register a:hover {
  color: #7041cc;
}

.lr2 {
  justify-content: center;
}

.login-register .login {
  text-align: center;
}

#massage-error {
  text-align: center;
  padding: 0 0 10px 0;
  color: red;
  font-weight: 500;
}

.container-full {
  display: flex;
}

.aside-menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  /* background-color: var(--color-two); */
  background-image: radial-gradient(circle, #ddcdff, #7e6d9a 110%);
  transition: all 900ms;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aside-menu.active {
  margin-left: -300px;
}

.aside-profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
}

.aside-links {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px 25px;
}

.aside-ul-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-ul-links li a {
  font-weight: bold;
  color: white;
}

.aside-ul-links details summary {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.details-spans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 0 10px;
  color: white;
}

.profile-img a img {
  width: 150px;
  height: auto;
}

.container {
  width: 100%;
  height: auto;
  flex: 1;
  margin-left: 300px;
  transition: all 900ms;
}

.container.active {
  margin-left: 0;
}

.header-index {
  width: 100%;
  height: auto;
  background-color: var(--color-one);
}

.menu-top {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo-index a img {
  width: 180px;
  height: auto;
}

.icons-index {
  display: flex;
  gap: 25px;
}

.icon,
.logo-index img,
.profile-img a img {
  filter: brightness(0) invert(1);
}

.nav-links {
  width: 100%;
  height: 80px;
  background-color: var(--color-tree);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.ul-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hamburguer {
  cursor: pointer;
}

.bar {
  position: relative;
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* .bar-arrow {
  background-color: transparent;
} */

/* .hamburguer.active .bar:nth-child(1) {
  transform: translateY(3px) rotate(20deg);
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-3px) rotate(-20deg);
}

.hamburguer .bar:nth-child(1) {
  transform: translateY(3px) rotate(-20deg);
}

.hamburguer .bar:nth-child(3) {
  transform: translateY(-3px) rotate(20deg);
} */

/* .bar-arrow::before {
  content: '';
  position: absolute;
  top: -2.5px;
  left: -8px;
  width: 0;
  height: 0;
  transform: rotate(268deg);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid white;
} */

/* .hamburguer.active .bar:nth-child(2) {
  transform: rotate(180deg);
} */

/* .hamburguer.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */

.ul-links li a {
  color: white;
  transition: ease-in-out 0.3s;
  position: relative;
}

.ul-links li a:hover {
  color: rgba(255, 255, 255, 0.603);
}

.ul-links li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: -5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.ul-links li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-search {
  position: relative;
}

.nav-search input {
  width: 350px;
  height: auto;
  padding: 10px 15px 10px 35px;
  border: 0;
  border-radius: 10px;
}

.nav-search input:focus {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../img/close.svg');
  background-size: cover;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.footer-index {
  width: 100%;
  height: 70px;
  background-color: var(--color-one);
}

/* Page MAIN */

.main-index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.model-clothing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 30px;
}

.link-model-clothing {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-clothing {
  width: 250px;
  height: 350px;
  background-color: #7e6d9a;
}

.category-favorite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.categorys {
  display: flex;
  gap: 10px;
}

.category {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}

.category.color2 {
  background-color: green;
}

.category.color3 {
  background-color: blue;
}

.category.color4 {
  background-color: #7041cc;
}

.favorite svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  fill: black; /* Define a cor inicial */
  transition: ease-in-out .4s;
}

.favorite svg:hover {
  fill: red; /* Define a cor para quando passar o mouse */
}


.button-trade {
  width: 100%;
  height: 40px;
  background-color: #462980;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}