{% extends '_layout.html' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>
        {% block head_title %}
        Início
        {% endblock %}
    </title>
</head>

<body>
    {% block main %}
    <div class="hidden-models">
        <div class="models-trade">
            <div class="model-clothing">
                <a href="#" class="link-model-clothing">
                    <div class="image-clothing">
                        <img src="" alt="">
                    </div>
                    <div class="category-favorite">
                        <div class="category">
                            h
                        </div>
                        <div class="favorite">

                        </div>
                    </div>
                    <div class="area-button-trade">
                        <button class="button-trade">Trocar/Negociar</button>
                    </div>
                </a>
            </div>
            <div class="hidden-model-clothing">

            </div>
        </div>
    </div>
    
    <main class="main-index">
        <div class="main-content">
            
        </div>
    </main>
    {% endblock %}
</body>

</html>