{% extends '_base.html' %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>
        {% block head_title %}
            Login
        {% endblock %}
    </title>
</head>
<body>
    {% block main %}
        <main class="main-login">
            <div class="login-container">
                <div class="login-tittle">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="register-container">

            </div>
        </main>
    {% endblock %}
</body>
</html>