:root {
  --color-one: #462980;
  --color-two: #be9eff;
  --color-tree: #8c52ff;
  --color-four: #7041cc;
  --color-five: #fcfef7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-style: none;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-two);
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.main-login {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(./assets/img/template.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 999999;
}

.login-container,
.register-container {
  width: 50%;
  height: 100vh;
  background-color: #be9eff65;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 900ms;
  /* transition: opacity 0.7s ease; */
}

.register-container {
  transform: translateX(100%);
  opacity: 1;
}

.login-content,
.register-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.login-tittle h1,
.register-tittle h1 {
  font-size: 3rem;
  text-align: center;
}

.login-form-container,
.register-form-container {
  width: 500px;
  height: auto;
}

#form-login,
#form-register {
  width: 100%;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input label {
  margin-bottom: 8px;
}

.label-input input,
.input-select {
  padding: 18px 13px;
  border: 1px solid black;
  margin-bottom: 25px;
}

.label-input input:focus,
.input-select:focus {
  outline: none;
}

.button-login-class,
.button-register-class {
  width: 100%;
  display: flex;
  justify-content: center;
}

#button-login,
#button-register {
  padding: 17px 80px;
  background-color: black;
  color: white;
  margin: 5px 0 15px 0;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#button-login:hover,
#button-register:hover {
  /* background-color: rgba(0, 0, 0, 0.918); */
  transform: scale(1.035);
}

.login-register {
  display: flex;
  justify-content: space-between;
}

.login-register a {
  color: #462980;
  transition: ease-in-out 0.2s;
}

.login-register a:hover {
  color: #7041cc;
}

.lr2 {
  justify-content: center;
}

.login-register .login {
  text-align: center;
}

#massage-error,
#massage-error-register {
  text-align: center;
  padding: 0 0 10px 0;
  color: red;
  font-weight: 500;
}

.container-full {
  display: flex;
}

.aside-menu {
  position: fixed;
  width: 300px;
  height: 100vh;
  /* background-color: var(--color-two); */
  background-image: radial-gradient(circle, #ddcdff, #7e6d9a 110%);
  transition: all 900ms;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.aside-menu.active {
  margin-left: -300px;
}

.aside-profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
}

.aside-links {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px 25px;
}

.aside-ul-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside-ul-links li a {
  font-weight: bold;
  color: white;
}

.aside-ul-links details summary {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.details-spans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 0 10px;
  color: white;
}

.profile-img a img {
  width: 150px;
  height: auto;
}

.container {
  width: 100%;
  height: auto;
  flex: 1;
  margin-left: 300px;
  transition: all 900ms;
}

.container.active {
  margin-left: 0;
}

.header-index {
  width: 100%;
  height: auto;
  background-color: var(--color-one);
}

.menu-top {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo-index a img {
  width: 180px;
  height: auto;
}

.icons-index {
  display: flex;
  gap: 25px;
}

.icon,
.logo-index img,
.profile-img a img,
.profile-image img {
  filter: brightness(0) invert(1);
}

.nav-links {
  width: 100%;
  height: 80px;
  background-color: var(--color-tree);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.ul-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.hamburguer {
  cursor: pointer;
}

.bar {
  position: relative;
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  margin: 5px auto;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* .bar-arrow {
  background-color: transparent;
} */

/* .hamburguer.active .bar:nth-child(1) {
  transform: translateY(3px) rotate(20deg);
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-3px) rotate(-20deg);
}

.hamburguer .bar:nth-child(1) {
  transform: translateY(3px) rotate(-20deg);
}

.hamburguer .bar:nth-child(3) {
  transform: translateY(-3px) rotate(20deg);
} */

/* .bar-arrow::before {
  content: '';
  position: absolute;
  top: -2.5px;
  left: -8px;
  width: 0;
  height: 0;
  transform: rotate(268deg);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid white;
} */

/* .hamburguer.active .bar:nth-child(2) {
  transform: rotate(180deg);
} */

/* .hamburguer.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */

.ul-links li a {
  color: white;
  transition: ease-in-out 0.3s;
  position: relative;
}

.ul-links li a:hover {
  color: rgba(255, 255, 255, 0.603);
}

.ul-links li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  bottom: -5px;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
}

.ul-links li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-search {
  position: relative;
}

.nav-search input {
  width: 350px;
  height: auto;
  padding: 10px 15px 10px 35px;
  border: 0;
  border-radius: 10px;
}

.nav-search input:focus {
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('./assets/img/close.svg');
  background-size: cover;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}

.footer-index {
  width: 100%;
  height: 70px;
  background-color: var(--color-one);
}

/* Page MAIN */

.main-index {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  padding: 15px;
  /* display: flex;
  flex-wrap: wrap; */
  gap: 30px;
  padding: 30px;
  transition: all 5s;
}

.main-content.active {
  grid-template-columns: repeat(6, 1fr);
}

.link-model-clothing {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link-model-clothing * {
  text-transform: capitalize;
}

.image-clothing {
  width: 250px;
  height: 300px;
  background-color: #7e6d9a;
}

.nome-descricao {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nome-descricao h1 {
  font-size: 1.1rem;
  font-weight: 500;
}

.nome-descricao span {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cor-tamanho {
  display: flex;
  justify-content: space-between;
}

/* .category-favorite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.categorys {
  display: flex;
  gap: 10px;
}

.category {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
}

.category.color2 {
  background-color: green;
}

.category.color3 {
  background-color: blue;
}

.category.color4 {
  background-color: #7041cc;
}

.favorite svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: ease-in-out .4s;
  fill: transparent;
} */

.button-trade {
  width: 100%;
  height: 40px;
  background-color: #462980;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}

/* Main CadastrarProduto */

.main-cadastrar-produto {
  width: 100%;
  min-height: calc(100vh - 230px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-cadastrar-produto {
  width: 400px;
  height: auto;
}

.form-cadastrar-produto h1 {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 15px;
}

.form-cadastrar-produto button {
  width: 100%;
  padding: 10px;
  background-color: #7041cc;
  color: #ffffff;
  transition: ease-in-out .3s;
  cursor: pointer;
  margin-top: 10px;
}

.form-cadastrar-produto button:hover {
  background-color: #6f41ccea;
}

.form-cadastrar-produto .label-input input {
  margin-bottom: 15px;
}

.create {
  text-align: center;
  color: rgb(25, 207, 25);
}

/* Main Account Profile */

.main-account-profile {
  width: 100%;
  min-height: calc(100vh - 230px);
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}

.content-links {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-links nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-links nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding: 8px;
  border-radius: 5px;
  background-color: #7041cc;
  transition: ease-in-out .3s;
}

.content-links nav a:hover {
  background-color: #6f41cce0;
}

.content-profile {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #7041cc;
  margin-bottom: 10px;
}

.profile-image img {
  width: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profile-info ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile-info ul {
  list-style: none;
  padding: 0;
}

.profile-info a {
  text-decoration: none;
  color: #000000;
}

.profile-info a:hover {
  text-decoration: underline;
}

/* Main Seja Membro */

.main-seja-membro {
  width: 100%;
  min-height: calc(100vh - 230px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-seja-membro {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.content-seja-membro h1 {
  font-size: 2.5rem;
  color: #462980;
}

.content-seja-membro h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.membro-vantagens {
  display: flex;
  flex-direction: column;
}

.membro-vantagens span {
  font-size: 1.2rem;
  font-weight: 500;
}

.content-seja-membro button {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  background-color: #462980;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Main Membro Register */

.main-membro-register {
  width: 100%;
  min-height: calc(100vh - 230px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-membro-register {
  width: 400px;
}

@media(max-width: 1500px) {
  .main-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    margin-left: 260px;
  }

  .aside-menu {
    width: 260px;
  }

  .aside-menu.active {
    margin-left: -260px;
  }
}

@media(max-width: 1200px) {
  .main-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
